<!doctype html>
 
<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- CSS code -->
        <style>
        form {
            margin: auto;
            width: 35%;
        }
 
        .result {
            margin: auto;
            width: 35%;
            border: 1px solid #ccc;
        }
        </style>
        
        <title>Ovarian Cancer Model</title>
    </head>
 
    <body>
        
        <div class="container">
          <div class="row">
            <div class="col" name="col1">
                <div class="container">
                  <div class="row">
                  ROW 1
                  </div>
                  <div class="row">
                  ROW 1
                  </div>
                  <div class="row">
                  ROW 1
                  </div>
                  <div class="row">
                  ROW 1
                  </div>
                  <div class="row">
                  ROW 1
                  </div>
                </div>
            </div>
            <div class="col" name="col2">
                <div class="container">
                  <div class="row">
                      {% if not(result) %}
                              <!-- Use the action attribute to call the 'main' function -->
                              <form action="{{ url_for('main') }}" method="POST">
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputCity">Age</label>
                                    <input type="text" class="form-control" id="inputCity">
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputState">CEA</label>
                                    <select id="inputState" class="form-control">
                                      <option selected>Choose...</option>
                                      <option>...</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-md-2">
                                    <label for="inputZip">IBIL</label>
                                    <input type="text" class="form-control" id="inputZip">
                                  </div>
                                </div>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputCity">NEU</label>
                                    <input type="text" class="form-control" id="inputCity">
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputState">Menopause</label>
                                    <select id="inputState" class="form-control">
                                      <option selected>Choose...</option>
                                      <option>...</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-md-2">
                                    <label for="inputZip">CA125</label>
                                    <input type="text" class="form-control" id="inputZip">
                                  </div>
                                </div>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputCity">ALB</label>
                                    <input type="text" class="form-control" id="inputCity">
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputState">HE4</label>
                                    <select id="inputState" class="form-control">
                                      <option selected>Choose...</option>
                                      <option>...</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-md-2">
                                    <label for="inputZip">GLO</label>
                                    <input type="text" class="form-control" id="inputZip">
                                  </div>
                                  <div class="form-group col-md-2">
                                    <label for="inputZip">LYM%</label>
                                    <input type="text" class="form-control" id="inputZip">
                                  </div>
                                </div>
                                
                                <div class="form-group">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                      Check me out
                                    </label>
                                  </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Sign in</button>
                              </form>
                              
                             
                                  <div class="form-group">
                                  <h1>Find out if you need a follow-up diagnosis of Ovarian Cancer</h1>
                                  <div class="element">
                                  <label for="age">Age: </label>
                                  <input name="age" min="15" max="90" type="number" required>
                                  <br>
                                  <br> CEA:
                                  <input name="cea" type="number" required>
                                  <br>
                                  <br> IBIL:
                                  <input name="ibil" type="number" required>
                                  <br>
                                  <br> NEU:
                                  <input name="neu" type="number" required>
                                  <br>
                                  <br> Menopause (0 for false and 1 for true):
                                  <input name="meno" type="number" required>
                                  <br>
                                  <br> CA125:
                                  <input name="ca125" type="number" required>
                                  <br>
                                  <br> ALB:
                                  <input name="alb" type="number" required>
                                  <br>
                                  <br> HE4:
                                  <input name="he4" type="number" required>
                                  <br>
                                  <br> GLO:
                                  <input name="glo" type="number" required>
                                  <br>
                                  <br> LYM%:
                                  <input name="lym" type="number" required>
                                  <br>
                                  <br>
                                  <input type="submit">
                              </div>
                                 {% endif %}
                              <br>
                           {% if result %}
                             
                                  <div class="result" align="center">
                                      <!-- Our 'result' is false until a prediction has been made -->
                                      
                                          <!-- Loop through dictionary and print key:value pair -->
                                          {% for variable in original_input %}
                                              <b>{{ variable }}:</b> {{ original_input[variable] }}
                                          {% endfor %}
                                          <br>
                                          <!-- Print prediction -->
                                          {% if prediction[0] > 0.5 %}
                                          <br> <p style="font-size:50px">The ML model does suggest an advanced screening for Ovarian Cancer</p>
                                          {% else %}
                                          <br> <p style="font-size:50px">The ML model does NOT suggest an advanced screening for Ovarian Cancer</p>
                                          {% endif %}
                                  
                                  </div>
                          
                              {% endif %}
                  </div>
                </div>
            </div>
          </div>
        </div>
 
 
    </body>
 
</html>

